.App {
  background: linear-gradient(to right, #00b09b, #96c93d);
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.current {
  font-size: 20px;
  clear: both;
}

.bit-header {
text-align: center;
font-size: 30px;
}

.plus {
  color: green !important;
}

.minus {
  color: red !important;
}